body {
  background-color: #151515;
  overflow-x: hidden;
}

#root {
  overflow-x:none;
}

.DM400 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
}

.DM400italic {
  font-family: DM Sans;
  font-style: italic;
  font-weight: normal;
}

.DM500 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
}

.DM700 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
}

.poppins300 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
}

.rcBlue {
  color: #4A90E2;
}

.dashboardBlue {
  background-color: #1A68A1;
}

.accordion__button {
  background-color: #3F4242 !important;
  color: white !important;
}

.rcBlueBg {
  background: #4A90E2;
}