body {
  background-color: #151515;
  overflow-x: hidden;
}

#root {
  overflow-x:none;
}

.DM400 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
}

.DM400italic {
  font-family: DM Sans;
  font-style: italic;
  font-weight: normal;
}

.DM500 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
}

.DM700 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
}

.poppins300 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
}

.rcBlue {
  color: #4A90E2;
}

.dashboardBlue {
  background: #1A68A1;
}

.dashboardBlueText {
  color: #1A68A1;
}

.dbGradient {
  background: radial-gradient(117.11% 109.09% at 0% 2.2%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

.accordionHeader {
  background-color: #3F4242;
  border-radius: 0.5rem !important;
}

.sponsor {
  color: #2bbf61;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;

}

.room {
  color: #e6720c;
}

.rcBlueBg {
  background: #4A90E2;
}